<header class="px-20 py-5">
  <div class="grid grid-cols-2">
    <div class="flex space-x-3 items-center">
      <div class="bg-[#6C63FF] p-5 rounded-lg"></div>
      <span class="text-2xl font-semibold uppercase">Nigromotics</span>
    </div>
    <div class="flex space-x-3 justify-end items-center">
      <div class="flex">
        <div class="object-center">
          <img
            src="../assets/Flag.png"
            class="def-country-img rounded-full h-7 w-7"
            alt="def_cy_img"
          />
        </div>
        <div class="flex">
          <select name="" id="" class="focus:outline-none text-[#6C63FF]">
            <option value="1">Eng</option>
            <option value="1">Fch</option>
          </select>
        </div>
      </div>
      <button
        class="rounded-full border-[#6C63FF] border-2 px-3 py-1 text-[#6C63FF]"
      >
        Login
      </button>
    </div>
  </div>
</header>
<main class="grid grid-cols-2 p-20">
  <div class="">
    <div>
      <h1 class="text-3xl font-bold text-[#6C63FF]">Welcome to Nigromotics</h1>
      <p class="text-gray-300">
        you can view your content in your desired laguage <br />Simply sign up
        and get started
      </p>
    </div>
    <div class="mt-10">
      <div class="inputs grid gap-4 grid-cols-2">
        <div class="flex-col space-y-4">
          <!-- Name -->
          <div class="flex flex-col">
            <input
              type="text"
              id="name"
              class="p-3 border-[#6b63ff5b] border-2 rounded-lg focus:outline-[#6C63FF]"
              placeholder="What should we call you"
            />
          </div>
          <!-- Mail -->
          <div class="flex flex-col">
            <input
              type="tel"
              id="email"
              class="p-3 border-[#6b63ff5b] border-2 rounded-lg focus:outline-[#6C63FF]"
              placeholder="Enter your phone number"
            />
          </div>

          <!-- Language -->
          <div class="flex flex-col">
            <label for="name" class="text-gray-300"
              >Select your preffered Language</label
            >
            <select
              name="language"
              id="languages"
              class="p-3 bg-[#6b63ff43] focus:outline-[#6C63FF]"
            >
              <option value="1">English</option>
              <option value="2">French</option>
            </select>
          </div>
        </div>

        <!-- Second Registrant -->
        <div class="flex-col space-y-4">
          <div class="flex flex-col">
            <input
              type="email"
              id="PhoneNumber"
              class="p-3 border-[#6b63ff5b] border-2 rounded-lg focus:outline-[#6C63FF]"
              placeholder="Enter your email"
            />
          </div>
          <div class="flex flex-col">
            <input
              type="email"
              id="PhoneNumber"
              class="p-3 border-[#6b63ff5b] border-2 rounded-lg focus:outline-[#6C63FF]"
              placeholder="Enter your email"
            />
          </div>
          <div class="flex flex-col">
            <input
              type="text"
              id="PhoneNumber"
              class="p-3 border-[#6b63ff5b] border-2 rounded-lg focus:outline-[#6C63FF]"
              placeholder="Where are you Located"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <button
          class="bg-green-500 w-3/5 shadow-lg hover:bg-green-600 transition-all duration-500 ease-in-out mt-5 shadow-green-400 px-10 py-3 rounded-lg text-2xl font-medium text-white"
        >
          Sign Up
        </button>
        <small
          >Already have an account?
          <a href="#" class="text-[#6C63FF] underline">Sign In</a></small
        >
      </div>
    </div>
  </div>

  <!-- Second Container -->
  <div><img src="../assets/Group 391.png" alt="" /></div>
</main>

<!-- Login Screen -->
<div class="w-screen h-screen">
  <header class="px-20 py-5">
    <div class="grid grid-cols-2">
      <div class="flex space-x-3 items-center">
        <div class="bg-[#6C63FF] p-5 rounded-lg"></div>
        <span class="text-2xl font-semibold uppercase">Nigromotics</span>
      </div>
      <div class="flex space-x-3 justify-end items-center">
        <div class="flex">
          <div class="object-center">
            <img
              src="../assets/Flag.png"
              class="def-country-img rounded-full h-7 w-7"
              alt="def_cy_img"
            />
          </div>
          <div class="flex">
            <select name="" id="" class="focus:outline-none text-[#6C63FF]">
              <option value="1">Eng</option>
              <option value="1">Fch</option>
            </select>
          </div>
        </div>
        <button
          class="rounded-full border-[#6C63FF] border-2 px-3 py-1 text-[#6C63FF]"
        >
          Sign Up
        </button>
      </div>
    </div>
  </header>
  <main class="grid grid-cols-2 p-20">
    <div class="">
      <div>
        <h1 class="text-3xl font-bold text-[#6C63FF]">Welcome Back Joko</h1>
        <p class="text-gray-300">Let's get you back on track</p>
      </div>
      <div class="mt-10">
        <div class="inputs grid gap-4 grid-cols-2">
          <div class="flex-col space-y-4">
            <!-- Name -->
            <div class="flex flex-col">
              <input
                type="text"
                id="name"
                class="p-3 border-[#6b63ff5b] border-2 rounded-lg focus:outline-[#6C63FF]"
                placeholder="Email | Username"
              />
            </div>
            <!-- Mail -->
            <div class="flex flex-col">
              <input
                type="password"
                id="email"
                class="p-3 border-[#6b63ff5b] border-2 rounded-lg focus:outline-[#6C63FF]"
                placeholder="Password"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <button
            class="bg-green-500 w-3/5 shadow-lg hover:bg-green-600 transition-all duration-500 ease-in-out mt-5 shadow-green-400 px-10 py-3 rounded-lg text-2xl font-medium text-white"
          >
            Login
          </button>
          <small
            >Don't have an account?
            <a href="#" class="text-[#6C63FF] underline">Sign Up</a></small
          >
        </div>
      </div>
    </div>

    <!-- Second Container -->
    <div><img src="../assets/Group 391.png" alt="" /></div>
  </main>
</div>

<!-- Dashboard -->
<div class="w-screen h-screen bg-gray-100">
  <div class="flex">
    <div class="w-1/5 bg-white h-screen p-5">
      <div>
        <div>
          <div class="flex space-x-3 items-center">
            <div class="bg-[#6C63FF] p-5 rounded-lg"></div>
            <span class="text-2xl font-semibold uppercase">Nigromotics</span>
          </div>
          <p class="text-center my-5 text-gray-300">Welcome Back</p>
        </div>
        <ul class="space-y-5">
          <li
            class="bg-[#6C63FF] p-3 rounded-lg text-white text-lg font-semibold"
          >
            Dashboard
          </li>
          <li class="font-semibold text-lg text-[#6C63FF]">News & Events</li>
          <li class="flex space-x-3 font-semibold text-lg text-[#6C63FF]">
            span Logout
          </li>
        </ul>
      </div>
    </div>
    <div class="w-4/5 flex gap-4 px-5">
      <div class="bg-green-500 w-3/5 h-screen py-10">
        <div class="bg-yellow-700 flex flex-col space-y-4 h-full">
          <div class="flex space-x-2">
            <input type="text" class="border-2 border-black" />
            <span>Tuesday, 15th, February, 2022</span>
          </div>
          <div class="bg-white rounded-lg flex h-2/6 p-5">
            <div>
              <h1 class="text-2xl font-semibold text-[#6C63FF]">
                Welcome, <span class="font-light">Joko</span>
              </h1>
              <p class="text-gray-400">
                Manage all the things from one single Dashboard Lorem, ipsum
                dolor sit amet consectetur adipisicing elit. Rerum commodi
                laborum magni consequatur quasi distinctio aliquam obcaecati
                odit laudantium omnis!
              </p>
            </div>
            <div><img src="../assets/Management.svg" alt="Mgt_img" /></div>
          </div>
          <div class="grid grid-cols-2 gap-3">
            <div class="flex flex-col space-y-3">
              <div class="bg-white rounded-lg flex space-x-3 p-5">
                <div class="w-4/5 flex flex-col">
                  <div class="flex space-x-3">
                    <div>
                      <img
                        src="https://tse4.mm.bing.net/th?id=OIP.omq-RNCNuILngjP6P1W2iQHaFj&pid=Api&P=0&w=260&h=195"
                        class="h-10 w-10 rounded-full"
                        alt=""
                      />
                    </div>
                    <div>
                      <h1 class="text-[#6C63FF] font-semibold">
                        Jokoyoski Makanga
                      </h1>
                      <small class="text-sm text-gray-300"
                        >Full Stack Developer</small
                      >
                    </div>
                  </div>
                  <div class="grid grid-cols-2 mt-5">
                    <div class="text-[#6C63FF] font-semibold text-sm">
                      <h1>Joining Data:</h1>
                      <h1>Active Tasks</h1>
                      <h1>Exit No:</h1>
                    </div>
                    <div class="text-gray-300 text-sm">
                      <h1>12 May, 2017</h1>
                      <h1>23 Active Tasks</h1>
                      <h1>23221</h1>
                    </div>
                  </div>
                </div>
                <div class="grid grid-rows-2">
                  <div>one</div>
                  <div class="flex items-end">Two</div>
                </div>
              </div>
              <div class="bg-white rounded-lg p-5">
                <div class="grid grid-cols-2">
                  <h1 class="text-[#6C63FF] font-semibold">Task Report</h1>
                  <div class="flex justify-end">dots</div>
                </div>
                <div class="text-gray-300">
                  Task done <span class="font-semibold">23/50</span>
                </div>
              </div>
            </div>
            <div class="bg-white rounded-lg flex flex-col p-5">
              <div class="grid grid-cols-2">
                <h1 class="text-[#6C63FF] font-semibold">Schedules</h1>
                <div class="flex justify-end">dots</div>
              </div>
              <div class="flex flex-col space-x-4">
                <div class="flex p-2 border-r-2 border-gray-400">
                  <h1 class="text-4xl font-semibold text-[#6C63FF]">23</h1>
                  <small class="text-gray-300">MAR, 2022</small>
                </div>
                <div class="flex flex-col space-x-3">
                  <h1>
                    Meeting at <strong>9:00 PM</strong> with junior developers
                  </h1>
                  <div class="bg-orange-500 rounded-full px-3 py-2">
                    Important
                  </div>
                </div>
                <hr class="text-gray-400 h-5 w-full" />
              </div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-red-500 w-2/5 h-screen"></div>
    </div>
  </div>
</div>
