<div class="w-screen h-screen bg-gray-100">
  <div class="flex">
    <div class="w-1/5 bg-white h-screen p-5">
      <div>
        <div>
          <div class="flex space-x-3 items-center">
            <div class="bg-[#6C63FF] p-5 rounded-lg"></div>
            <span class="text-2xl font-semibold uppercase">Nigromotics</span>
          </div>
          <p class="text-center my-5 text-gray-300">Welcome Back</p>
        </div>
        <ul class="space-y-5">
          <li
            class="bg-[#6C63FF] p-3 rounded-lg text-white text-lg font-semibold"
          >
            Dashboard
          </li>
          <li class="font-semibold text-lg text-[#6C63FF]">News & Events</li>
          <li class="flex space-x-3 font-semibold text-lg text-[#6C63FF]">
            span Logout
          </li>
        </ul>
      </div>
    </div>
    <div class="w-4/5 flex gap-4 px-5">
      <div class="w-3/5 h-screen py-10">
        <div class="flex flex-col space-y-4 h-full">
          <div class="grid grid-cols-2 gap-4">
            <input
              type="text"
              placeholder="Search..."
              class="px-3 py-2 focus:outline-none"
            />
            <div class="flex items-center font-medium text-gray-400">
              Tuesday, 15th, February, 2022
            </div>
          </div>
          <div class="bg-white rounded-lg flex h-2/6 p-5">
            <div>
              <h1 class="text-2xl font-semibold text-[#6C63FF]">
                Welcome, <span class="font-light">Joko</span>
              </h1>
              <p class="text-gray-400">
                Manage all the things from one single Dashboard Lorem, ipsum
                dolor sit amet consectetur adipisicing elit. Rerum commodi
                laborum magni consequatur quasi distinctio aliquam obcaecati
                odit laudantium omnis!
              </p>
            </div>
            <div><img src="../assets/Management.svg" alt="Mgt_img" /></div>
          </div>
          <div class="grid grid-cols-2 gap-3">
            <div class="flex flex-col space-y-3">
              <div class="bg-white rounded-lg flex space-x-3 p-5">
                <div class="w-4/5 flex flex-col">
                  <div class="flex space-x-3">
                    <div>
                      <img
                        src="https://tse4.mm.bing.net/th?id=OIP.omq-RNCNuILngjP6P1W2iQHaFj&pid=Api&P=0&w=260&h=195"
                        class="h-10 w-10 rounded-full"
                        alt=""
                      />
                    </div>
                    <div>
                      <h1 class="text-[#6C63FF] font-semibold">
                        Jokoyoski Makanga
                      </h1>
                      <small class="text-sm text-gray-300"
                        >Full Stack Developer</small
                      >
                    </div>
                  </div>
                  <div class="grid grid-cols-2 mt-5">
                    <div class="text-[#6C63FF] font-semibold text-sm">
                      <h1>Joining Data:</h1>
                      <h1>Active Tasks</h1>
                      <h1>Exit No:</h1>
                    </div>
                    <div class="text-gray-300 text-sm">
                      <h1>12 May, 2017</h1>
                      <h1>23 Active Tasks</h1>
                      <h1>23221</h1>
                    </div>
                  </div>
                </div>
                <div class="grid grid-rows-2">
                  <div>one</div>
                  <div class="flex items-end">Two</div>
                </div>
              </div>
              <div class="bg-white rounded-lg p-5">
                <div class="grid grid-cols-2">
                  <h1 class="text-[#6C63FF] font-semibold">Task Report</h1>
                  <div class="flex justify-end">dots</div>
                </div>
                <div class="text-gray-300">
                  Task done <span class="font-semibold">23/50</span>
                </div>
              </div>
            </div>
            <div
              class="bg-white overflow-scroll Schedule-Box rounded-lg h-5/5 flex flex-col p-5"
            >
              <div class="grid grid-cols-2">
                <h1 class="text-[#6C63FF] font-semibold">Schedules</h1>
                <div class="flex justify-end">dots</div>
              </div>
              <div class="grid grid-cols-3 mb-3">
                <div class="flex flex-col p-2 border-r-2 border-gray-400">
                  <h1 class="text-4xl font-semibold text-[#6C63FF]">23</h1>
                  <small class="text-gray-300">MAR, 2022</small>
                </div>
                <div class="col-span-2 flex flex-col px-3">
                  <div class="text-[#6C63FF] font-semibold">
                    <h1>
                      Meeting at <strong>9:00 PM</strong> <br />
                      <small>
                        <span class="text-gray-300"
                          >with junior developers</span
                        >
                      </small>
                    </h1>
                  </div>
                  <div class="bg-orange-500 rounded-full px-3 text-white">
                    <small>Important</small>
                  </div>
                </div>
              </div>

              <hr class="text-gray-400 h-5 w-full" />
              <div class="grid grid-cols-3 mb-3">
                <div class="flex flex-col p-2 border-r-2 border-gray-400">
                  <h1 class="text-4xl font-semibold text-[#6C63FF]">23</h1>
                  <small class="text-gray-300">MAR, 2022</small>
                </div>
                <div class="col-span-2 flex flex-col px-3">
                  <div class="text-[#6C63FF] font-semibold">
                    <h1>
                      Meeting at <strong>9:00 PM</strong> <br />
                      <small>
                        <span class="text-gray-300">with Babe</span>
                      </small>
                    </h1>
                  </div>
                  <div class="bg-red-500 rounded-full px-3 text-white">
                    <small>Very Very Important</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-2/5 flex-col space-y-5 h-screen py-10">
        <div class="bg-yellow-500 flex flex-col space-y-4">
          <div class="flex space-x-3">
            <span>Bell</span>
            <div class="bg-blue-700 rounded-full h-8 w-8"></div>
          </div>
        </div>
        <div class="bg-white rounded-lg p-5 w-full h-2/5">
          Calender Goes here
        </div>
      </div>
    </div>
  </div>
</div>
